@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Почтовый адрес: 08307, Украина, Киевская обл., г.Борисполь-7
    Телефон: 044 364 4514
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2546.51895231363!2d30.89173871609498!3d50.33822540332551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4e8fa667ec5d1%3A0x690a2c5d49d870da!2z0JDRjdGA0L7Qv9C-0YDRgiDQmtC40LXQsiDQkdC-0YDQuNGB0L_QvtC70Yw!5e0!3m2!1sru!2sua!4v1545179305966" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<address>
    <strong>Support:</strong>   <a href="mailto:cherkes-a@mail.ru">Oleh Cherkes</a><br />
</address>